.content{
    margin-top: 20%;
    color: #F5F5F5;
    
}

.contente{
    color: #F5F5F5;
}

.img{
    position: absolute;
    width: 50%;
    height: 900px;
    top: 0;
   
}

.ola{
    margin-right: 20%;
}

.continuar p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
