.card{
    background-color: rgb(56, 57, 66);
    position: absolute;
    
    height: 1358px;
    left: 0;
    margin: 0 auto;
    top: 0;
    width: 18%;
    border: 2px solid #2E2F36;

    
}

.conteudo{
    background-color: #17181C;
    width: 1240px;
    height: 1258px;
    padding: 36px;
}